server:
  port: 8083
spring:
  profiles:
    active: plug,music
  mvc:
    static-path-pattern: /**
  web:
    resources:
      static-locations:  classpath:/static/**
  freemarker:
    cache: false  #关闭模板缓存，方便测试
    settings:
      template_update_delay: 0 #检查模板更新延迟时间，设置为0表示立即检查，如果时间大于0会有缓存不方便进行模板测试
    template-loader-path: classpath:/templates/ #模板路径
    suffix: .ftl #模板后缀名称
  cache:
    ehcache:
      config: classpath:ehcache.xml


# 日志配置
logging:
  level:
    com.sqmusicplus: debug
    org.springframework: warn
# MyBatis配置
mybatis-plus:
  # 搜索指定包别名
  typeAliasesPackage: com.sqmusicplus.**.domain,com.sqmusicplus.**.entity
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
    cache-enabled: true
    default-executor-type: SIMPLE
    use-generated-keys: true
  #  typeEnumsPackage: com.txj.zdgh.**.dbenum
  global-config:
    db-config:
      select-strategy: NOT_NULL