server:
  port: 8083
spring:
  profiles:
    active: plug,music
  datasource:
    driver-class-name: org.sqlite.JDBC
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:sqlite::resource:sqmusic.db
    hikari:
      minimum-idle: 5
      # 空闲连接存活最大时间，默认600000（10分钟）
      idle-timeout: 180000
      # 连接池最大连接数，默认是10
      maximum-pool-size: 10
      # 此属性控制从池返回的连接的默认自动提交行为,默认值：true
      auto-commit: true
      # 连接池名称
      pool-name: MyHikariCP
      # 此属性控制池中连接的最长生命周期，值0表示无限生命周期，默认1800000即30分钟
      max-lifetime: 1800000
      # 数据库连接超时时间,默认30秒，即30000
      connection-timeout: 30000


# 日志配置
logging:
  level:
    com.sqmusicplus: debug
    org.springframework: warn
# MyBatis配置
mybatis-plus:
  # 搜索指定包别名
  typeAliasesPackage: com.sqmusicplus.**.domain,com.sqmusicplus.**.entity
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configuration:
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
    cache-enabled: true
    default-executor-type: SIMPLE
    use-generated-keys: true
  #  typeEnumsPackage: com.txj.zdgh.**.dbenum
  global-config:
    db-config:
      select-strategy: NOT_NULL